  body {
  
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
   #gameContainer{
     
     background-color:blanchedalmond;
     

   }
   #gameBoard{
        border: 5px solid;
        color:rgba(89, 29, 29, 0.983)
        } 

   #resetButt{
   
    background-color: rgb(156, 114, 68);
    font-size: 40px;
    font-family: 'Luxurious Script', cursive;
    padding: 10px 43px;
    color:blanchedalmond;
    border: 4px solid;
    border-color: rgba(89, 29, 29, 0.983);
    border-radius: 7px;
    cursor: pointer;
    
  
    
    
}
#scoreText{
   font-family: "Encode Sans SC", sans-serif;
  font-size: 70PX;
  font-weight: bold;
  color:rgb(130, 98, 63);
}